
<!DOCTYPE html>
<html>

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

<title>文化学院校友登陆</title>

<link rel="stylesheet" href="__PUBLIC__/css/font-awesome.min.css">

<script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>

<link rel='stylesheet prefetch' href='__PUBLIC__/bootstrap/css/bootstrap.min.css'>

<link rel="stylesheet" href="__PUBLIC__/css/Login_index.css" media="screen" type="text/css" />

</head>

<body class="login-page">

<div class="login-form">

    <div class="login-content">
      <div>
        <h3 style="color:yellow;">文化学院校友录</h3>
      </div>

      <form method="post" action="{:U('Login/login')}" role="form" id="form_login">

        <div class="form-group">

          <div class="input-group">
            <div class="input-group-addon">
              <i class="glyphicon glyphicon-user"></i>
            </div>
            <input type="text" onClick="this.value='';" onFocus="this.select()" onBlur="this.value=!this.value?'用户名':this.value;" class="form-control" name="username" id="username" placeholder="用户名" autocomplete="off" />
          </div>

        </div>

        <div class="form-group">

          <div class="input-group">
            <div class="input-group-addon">
              <i class="glyphicon glyphicon-lock"></i>
            </div>

            <input type="password" onClick="this.value='';" onFocus="this.select()" onBlur="this.value=!this.value?'密码':this.value;" class="form-control" name="password"  id="password" placeholder="密码" autocomplete="off" />
          </div>

        </div>

        
        <div class="form-group">

          <div class="input-group">
            <div class="input-group-addon">
              <i class="glyphicon glyphicon-lock"></i>
            </div>

            <input type="text" onClick="this.value='';"   class="form-control" name="verify" placeholder="验证码" autocomplete="off" />
          </div>
          <img src="{:U(verify,'','')}" id="yzm" />
        </div>


        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block btn-login">
            <i class="glyphicon glyphicon-circle-arrow-right"></i>
            登陆
          </button>
        </div>
  
      </form>

      

    </div>

  </div>
 </div>

 <script type="text/javascript">
 $(function(){
  var yzm=$('#yzm');
  $('input[name="verify"]').mouseover(function(){
    yzm.css('display','block');
  });
  $('input[name="verify"]').mouseout(function(){
    yzm.css('display','none');
  })
 });
 </script>

</body>
</html>